<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/karthik chilumula/IdeaProjects/Case_Studies/Movie_Ticket_Booking"><classes><class name="models.movie_ticket_booking.MovieTicketBookingApplicationTests"><methods><include name="contextLoads"/></methods></class><class name="movie_ticket_booking.services.PriceCalculatorServiceTest"><methods><include name="calculator"/></methods></class><class name="movie_ticket_booking.services.TestNGTest"><methods><include name="test"/></methods></class></classes></test></suite>